# set these to be the appropriate values for your system
temp.dir = /tmp
locale = en_US

flex.sdk.home = /opt/flex-sdk_4.1.0
litl.sdk.home = /opt/litl-sdk
litl.sdk.core.path = ${litl.sdk.home}/core
litl.sdk.controls.path = ${litl.sdk.home}/controls
litl.sdk.helpers.path = ${litl.sdk.home}/helpers
